.connectWalletButton {
    display: flex;
    align-items: center;
    background: none;

    width: 100%;
    height: 100%;
}

.connectWalletButton:disabled {
    opacity: 0.5;
}

.connectWalletButton__text {
    margin-top: 4px;
    margin-left: 12px;

    font-size: 24px;
    color: #ffffff;
}
