#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.block {
  padding: 0.5em 0 0.5em 0;
}

.btn {
  width: 100%;
  font-weight: bold;
}

.btn.primary {
  background-color: #c9df8a;
  color: #1a1a1a;
}

.btn.secondary {
  background-color: #80d2e6;
  color: #213547;
}

.btn.disabled {
  background-color: darkgrey;
}

.ton-symbol {
  width: 18px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center-items {
  align-items: center;
}

.note {
  font-size: 0.8em;
}
