.middle {
    position: relative;

    display: flex;
    justify-content: center;

    height: 436px;
    width: 100%;

    padding-top: 102px;

    background: url('./assets/bg.svg') center no-repeat;
}

.middle__buttons {
    display: flex;
    align-items: flex-end;
    gap: 120px;

    top: 250px;
    position: absolute;
    padding-left: 10px;
}

.middle__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.middle__button_sm {
    gap: 4px;

    width: 77px;
    height: 77px;

    font-size: 24px;

    background-image: url('./assets/buttons/small-bg.svg');
}

.middle__button_sm div {
    margin-top: 2px;
}

.middle__button_lg {
    gap: 10px;

    width: 105px;
    height: 105px;

    font-size: 40px;

    background-image: url('./assets/buttons/large-bg.svg');
}

.middle__button_lg div {
    margin-top: 4px;
}
